force-app/main/default/flows/HIPAA_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Updated_PTM_to_Collection_Variable</name>
        <label>Add Updated PTM to Collection Variable</label>
        <locationX>138</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>varT_CollectPTMs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_PTMs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PTMs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Account_Ids</name>
        <label>Get Account Ids</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varT_AccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Account_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Project_Ids</name>
        <label>Project Ids</label>
        <locationX>270</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>varT_ProjectIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Projects.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Projects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PTM_Active_Checkbox</name>
        <label>Update PTM Active Checkbox</label>
        <locationX>138</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>Loop_PTMs.Jpetto__Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_PTM_to_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Certificate_Expired</name>
        <label>Check Certificate Expired?</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Not Expired</defaultConnectorLabel>
        <rules>
            <name>Certificate_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Certificates_of_Updated_User.Expiration_Renewal_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_HIPAA_Accounts</targetReference>
            </connector>
            <label>Certificate Expired?</label>
        </rules>
    </decisions>
    <decisions>
        <name>PTMs_Exists</name>
        <label>PTMs Exists?</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Update_User_HIPPA_Checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No PTMs</defaultConnectorLabel>
        <rules>
            <name>PTMs_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_Project_PTMs_of_triggered_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_PTMs</targetReference>
            </connector>
            <label>PTMs Exists?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HIPAA Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HIPAA Automation</label>
    <loops>
        <description>Store all accounts of accounts list</description>
        <name>Account_Ids</name>
        <label>Account Ids</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_all_HIPAA_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Account_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_all_the_Projects_with_HIPPA_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Projects</name>
        <label>Loop Projects</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_all_the_Projects_with_HIPPA_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Project_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_all_Project_PTMs_of_triggered_User</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_PTMs</name>
        <label>Loop PTMs</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <collectionReference>Get_all_Project_PTMs_of_triggered_User</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_PTM_Active_Checkbox</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PTM_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all the accounts whose HIPPA requirement is true</description>
        <name>Get_all_HIPAA_Accounts</name>
        <label>Get all HIPAA Accounts</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HIPPA_Requirement__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Project_PTMs_of_triggered_User</name>
        <label>Get all Project PTMs of triggered User</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PTMs_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Jpetto__Team_Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Jpetto__Project__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varT_ProjectIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Jpetto__Project_Team_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all the projects where the parent account has HIPPA Requirement &apos;true&apos;</description>
        <name>Get_all_the_Projects_with_HIPPA_Account</name>
        <label>Get all the Projects with HIPPA Account</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Projects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Jpetto__Client_Account__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varT_AccountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Jpetto__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the HIPPA certificate of the updated user</description>
        <name>Get_Certificates_of_Updated_User</name>
        <label>Get Certificates of Updated User</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Certificate_Expired</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Certificant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HIPPA Awareness</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Certification__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PTM_Collection</name>
        <label>Update PTM Collection</label>
        <locationX>50</locationX>
        <locationY>1979</locationY>
        <connector>
            <targetReference>Update_User_HIPPA_Checkbox</targetReference>
        </connector>
        <inputReference>varT_CollectPTMs</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_HIPPA_Checkbox</name>
        <label>Update User HIPPA Checkbox</label>
        <locationX>182</locationX>
        <locationY>2171</locationY>
        <inputAssignments>
            <field>HIPPA_Certified_User__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Certificates_of_Updated_User</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varT_AccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varT_CollectPTMs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Jpetto__Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>varT_ProjectIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
