force-app/main/default/flows/New_Project_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_comma_for_text_collection</name>
        <label>add comma for text collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>textRecordCreation</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_manually_selected_record_to_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_manually_selected_record_to_string</name>
        <label>Assign manually selected record to string</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>textRecordCreation</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;selectedChoiceValues&quot;:&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>textRecordCreation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_From_Selected_Users.Select_Team_Member.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>textRecordCreation</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;,&quot;Select_Role&quot;:&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>textRecordCreation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_From_Selected_Users.Select_Role</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>textRecordCreation</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>allTextRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>textRecordCreation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_From_Selected_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Create_Current_User_PTM</name>
        <label>Copy 1 of Create Current User PTM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>currentUserPTM.Jpeto__Team_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentUserPTM.Jpeto__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Project_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentUserPTM.Jpeto__Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Project Manager</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentUserPTM.Jpeto__Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PTM_for_Current_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_Create_Current_User_PTM</name>
        <label>Copy 2 of Copy 1 of Create Current User PTM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>currentUserPTM.Jpeto__Team_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentUserPTM.Jpeto__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Project_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentUserPTM.Jpeto__Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentUserRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentUserPTM.Jpeto__Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PTM_for_Current_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_Text_Record_Creation</name>
        <label>Empty Text Record Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>textRecordCreation</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>is_first_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>End_Text_Record_Creation</name>
        <label>End Text Record Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>allTextRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>]</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Imported_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Start_Manal_Text_Record_Creation</name>
        <label>Start Manal Text Record Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>allTextRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>[</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_From_Selected_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_project_id</name>
        <label>update project id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>all_selected_members.Jpeto__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Project_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>allNewPTMs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>all_selected_members</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>all_selected_members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_record_collection</name>
        <label>update record collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>firstItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_manually_selected_record_to_string</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Current_User_Is_Selected</name>
        <label>Check Current User Is Selected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_Current_User_PTM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentUserSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Create_Current_User_PTM</targetReference>
            </connector>
            <label>Yes Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Current_User_Not_Selected</name>
        <label>Check Current User Not Selected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentUserSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_PTM_for_the_Current_User</targetReference>
            </connector>
            <label>Not Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Collection_Have_Values</name>
        <label>Check Record Collection Have Values Before Creating</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Values_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectedMembers</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentUserSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Current_User_Is_Selected</targetReference>
            </connector>
            <label>Yes Values Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_users_are_selected</name>
        <label>check users are selected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_User_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>users_found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectedMembers</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentUserSelected</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Record_Type</targetReference>
            </connector>
            <label>users found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Imported_Data</name>
        <label>Has Imported Data?”</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>check_users_are_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Imported</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>importedTeamJson</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Import_Team_Subflow</targetReference>
            </connector>
            <label>Imported</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_first_item</name>
        <label>is first item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>add_comma_for_text_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>firstItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_record_collection</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>externalContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>ContactId</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>projectStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Jpeto__Status__c</picklistField>
        <picklistObject>Jpeto__Project__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recordTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Jpeto__Project__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectRoles</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Jpeto__Role__c</picklistField>
        <picklistObject>Jpeto__Project_Team_Member__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>usersAll</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>New Project Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Project</label>
    <loops>
        <name>all_selected_members</name>
        <label>all selected members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>selectedMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_project_id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_PTMs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_From_Selected_Users</name>
        <label>Loop Through From Selected Users</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>SelectUsers.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Empty_Text_Record_Creation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>End_Text_Record_Creation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Project_Record</name>
        <label>Create Project Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Collection_Have_Values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Project_Creation_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Jpeto__Actual_Go_Live_Date__c</field>
            <value>
                <elementReference>userProject.Jpeto__Actual_Go_Live_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jpeto__Anticipated_Go_Live_Date__c</field>
            <value>
                <elementReference>userProject.Jpeto__Actual_Go_Live_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jpeto__Billing_Cycle__c</field>
            <value>
                <elementReference>userProject.Jpeto__Billing_Cycle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jpeto__Budget_Type__c</field>
            <value>
                <elementReference>userProject.Jpeto__Budget_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jpeto__Budgeted_Hours_Monthly__c</field>
            <value>
                <elementReference>userProject.Jpeto__Budgeted_Hours_Monthly__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jpeto__Budgeted_Hours_total__c</field>
            <value>
                <elementReference>userProject.Jpeto__Budgeted_Hours_total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jpeto__Client_Account__c</field>
            <value>
                <elementReference>ClientAccount.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jpeto__Kick_off_Date__c</field>
            <value>
                <elementReference>userProject.Jpeto__Kick_off_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jpeto__Project_Overview__c</field>
            <value>
                <elementReference>Project_Overview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jpeto__Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jpeto__Total_Discounts_Credits_and_Expenses__c</field>
            <value>
                <elementReference>userProject.Jpeto__Total_Discounts_Credits_and_Expenses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Project_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Select_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Jpeto__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_PTM_for_Current_User</name>
        <label>Create PTM for Current User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>all_selected_members</targetReference>
        </connector>
        <inputReference>currentUserPTM</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_PTMs</name>
        <label>Create PTMs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Current_User_Not_Selected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_on_PTM_Creation</targetReference>
        </faultConnector>
        <inputReference>allNewPTMs</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_PTM_for_the_Current_User</name>
        <label>Delete PTM for the Current User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>currentUserPTM</inputReference>
    </recordDeletes>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Choose_Record_Type</name>
        <label>Choose Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Project_Information</targetReference>
        </connector>
        <fields>
            <name>Select_Record_Type</name>
            <choiceReferences>recordTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Record Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Project</name>
        <label>Create Projectas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Start_Manal_Text_Record_Creation</targetReference>
        </connector>
        <fields>
            <name>AddTeamMember</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Add Team Members&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Label.Line}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SelectUsers</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Select_Team_Member</name>
                <choiceReferences>usersAll</choiceReferences>
                <choiceReferences>externalContacts</choiceReferences>
                <extensionName>flowruntime:choiceLookup</extensionName>
                <fieldText>Select Team Member</fieldText>
                <fieldType>ComponentChoice</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Select_Role</name>
                <choiceReferences>SelectRoles</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Select Role</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Import_Team_Screen</name>
            <extensionName>c:importTeamButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>currentProjectId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>importedTeamJson</assignToReference>
                <name>importedTeamJson</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_on_PTM_Creation</name>
        <label>Error on PTM Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Current_User_Not_Selected</targetReference>
        </connector>
        <fields>
            <name>errorOnPTMCreation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;New Project&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;{!$Label.Line}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;There was a problem creating the record.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(228, 17, 17);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_User_Selected</name>
        <label>No User Selected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Select Users</backButtonLabel>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Project</targetReference>
        </connector>
        <fields>
            <name>NoUsersSelected</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Add Team Members&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;{!$Label.Line}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Please select at least one team member to proceed with creating the project.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Project_Creation_Error</name>
        <label>Project Creation Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ShowProjectCreationError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;New Project&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;{!$Label.Line}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;There was a problem creating the record.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(215, 14, 14);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Project_Information</name>
        <label>Project Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Project_Record</targetReference>
        </connector>
        <fields>
            <name>CreateNewProject</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;New Project&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;{!$Label.Line}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Project_Overview</name>
            <fieldText>Project Overview</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Project_Details</name>
            <fieldText>Project Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Project_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Project Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ClientAccount</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Jpeto__Client_Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Client Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Jpeto__Project__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status</name>
                    <choiceReferences>projectStatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Discovery</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>RecordType</name>
                    <fieldText>&lt;p&gt;Record Type&lt;/p&gt;&lt;p&gt;{!Select_Record_Type}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Important_Dates</name>
            <fieldText>Important Dates</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Important_Dates_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>userProject.Jpeto__Kick_off_Date__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Important_Dates_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>userProject.Jpeto__Anticipated_Go_Live_Date__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>userProject.Jpeto__Actual_Go_Live_Date__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Logged_Hours_Detail</name>
            <fieldText>Logged Hours Detail</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Logged_Hours_Detail_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>userProject.Jpeto__Budgeted_Hours_total__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Logged_Hours_Detail_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>userProject.Jpeto__Budgeted_Hours_Monthly__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Budget</name>
            <fieldText>Budget</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Budget_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>userProject.Jpeto__Budget_Type__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>userProject.Jpeto__Total_Discounts_Credits_and_Expenses__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Budget_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>userProject.Jpeto__Billing_Cycle__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Successfull</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;New Project&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;{!$Label.Line}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Project and its team members have been added successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Parses JSON from LWC and returns a list of imported team members.</description>
        <name>Import_Team_Subflow</name>
        <label>Import Team Subflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_users_are_selected</targetReference>
        </connector>
        <flowName>Import_Team_Subflow</flowName>
        <inputAssignments>
            <name>var_ImportedTeamJson</name>
            <value>
                <elementReference>importedTeamJson</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_SelectedTeamJson</name>
            <value>
                <elementReference>allTextRecords</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>selectedMembers</assignToReference>
            <name>col_ImportedMembers</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentUserSelected</assignToReference>
            <name>current_User_Found</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentUserRole</assignToReference>
            <name>current_User_Role</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>allNewPTMs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Jpeto__Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>allTextRecords</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentUserPTM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Jpeto__Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>currentUserRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentUserSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>firstItem</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>hasDuplicateIds</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>importedTeamJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ptmRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Jpeto__Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>recordForVariableAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Jpeto__Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Jpeto__Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>textRecordCreation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UniqueIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Jpeto__Project__c</objectType>
    </variables>
</Flow>
