force-app/main/default/flows/Notify_Time_Sheet_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>notLogged</name>
        <label>notLogged</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowNotifyTimesheetEntryHelpr</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>userIds</name>
            <value>
                <elementReference>NotLoggedUsers</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowNotifyTimesheetEntryHelpr</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Logged_UserIds</name>
        <label>Add to Logged_UserIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Logged_UserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Timesheet.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_Timesheet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NotLoggedUserIds</name>
        <label>NotLoggedUserIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NotLoggedUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Not_Allowed_Users</name>
        <label>Check Not Allowed Users</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotLoggedUsers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>notLogged</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_User_Log_Time</name>
        <label>Did User Log Time?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>NotLoggedUserIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Did Not Log</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Did_User_Log_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Logged_UserIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Current_User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_User</targetReference>
            </connector>
            <label>Outcome 1 of Did User Log Time?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FifteenCharUserId</name>
        <dataType>String</dataType>
        <expression>LEFT( {!Current_User.Id},15)</expression>
    </formulas>
    <formulas>
        <name>PreviousDate</name>
        <dataType>Date</dataType>
        <expression>
IF(
    WEEKDAY(TODAY()) = 2,        /* Monday */
    TODAY() - 3,                 /* Go back to Friday */
    TODAY() - 1                  /* For Tue–Fri, just previous day */
)</expression>
    </formulas>
    <formulas>
        <name>TimeSheetLastWorkDay</name>
        <dataType>Date</dataType>
        <expression>TODAY()-1</expression>
    </formulas>
    <formulas>
        <name>WorkItmeLastWorkedDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()-2</expression>
    </formulas>
    <interviewLabel>Notify Time Sheet Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify Time Sheet Entry</label>
    <loops>
        <name>Current_Timesheet</name>
        <label>Current_Timesheet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Today_Timesheets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Logged_UserIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Current_User</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Current_User</name>
        <label>Current_User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Active_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Did_User_Log_Time</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Not_Allowed_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Users</name>
        <label>Get Active Users</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Today_s_Timesheet_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Dev_Team_Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Today_s_Timesheet_Entries</name>
        <label>Get Today&apos;s Timesheet Entries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Timesheet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Jpeto__Date_Worked__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PreviousDate</elementReference>
            </value>
        </filters>
        <object>Jpeto__Timesheet_Entry__c</object>
        <outputReference>Today_Timesheets</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>Jpeto__Date_Worked__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Users</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-11-06</startDate>
            <startTime>22:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>All_Users</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Logged_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Logged_UserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotLoggedUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Today_Timesheets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Jpeto__Timesheet_Entry__c</objectType>
    </variables>
    <variables>
        <name>workItemRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Current_Timesheet.Jpeto__Work_Item__r.Id</elementReference>
        </value>
    </variables>
</Flow>
