force-app/main/default/flows/Work_Item_Project_Status_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Other_Work_Item_Statuses</name>
        <label>Check Other Work Item Statuses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Project_To_Active_No_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_results_From_Other_Work_Items_Query</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Other_Work_Items_Related_to_Parent_Project</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Project_To_Active_Tasks_Available</targetReference>
            </connector>
            <label>Check results From Other Work Items Query</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Check</name>
        <label>Status Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Other_Work_Items_Related_to_Parent_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>In_Active_Work_Items</defaultConnectorLabel>
        <rules>
            <name>Active_Work_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>statusNotClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Project_To_Active_Tasks_Available</targetReference>
            </connector>
            <label>Active Work Items</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>statusNotClosed</name>
        <dataType>Boolean</dataType>
        <expression>NOT(
                CONTAINS(
                    &quot;;&quot; &amp; LOWER({!Get_WorkItemStatusConfig.Inactive_Status_Values__c}) &amp; &quot;;&quot;,
                    &quot;;&quot; &amp; LOWER(TEXT({!$Record.Jpeto__Status__c})) &amp; &quot;;&quot;
                )
            )</expression>
    </formulas>
    <interviewLabel>Work Item: Project Status Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Item: Project Status Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_Other_Work_Items_Related_to_Parent_Project</name>
        <label>Check Other Work Items Related to Parent Project</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Other_Work_Item_Statuses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Jpeto__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Jpeto__Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Inactive_Work_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Jpeto__Work_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkItemStatusConfig</name>
        <label>Get Work Item Status Config</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Check</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkItemStatusConfig__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_To_Active_No_Tasks</name>
        <label>Update Project To Active - No Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Jpeto__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_WorkItemStatusConfig.Active_No_Tasks_Value__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Jpeto__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Jpeto__Status__c</field>
            <value>
                <elementReference>Get_WorkItemStatusConfig.Active_No_Tasks_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Jpeto__Project__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_To_Active_Tasks_Available</name>
        <label>Update Project To Active - Tasks Available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Jpeto__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_WorkItemStatusConfig.Active_Tasks_Available_Value__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Jpeto__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Jpeto__Status__c</field>
            <value>
                <elementReference>Get_WorkItemStatusConfig.Active_Tasks_Available_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Jpeto__Project__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_WorkItemStatusConfig</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Jpeto__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Jpeto__Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Jpeto__Work_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
